@{
    void GenerateTable(int taille) {
    <table>
        <tbody>
        @for (int i = 1; i <= taille; i++)
        {
            <tr>
            @for (int j = 1; j <= taille; j++)
            {
                int result = i * j;
                <td>@result</td>
            }
            </tr>
        }
        </tbody>
    </table>
    }
}
@{
    int taille = ViewBag.taille;
    GenerateTable(taille);
    if (TempData.ContainsKey("old_taille") && (int)TempData["old_taille"] != ViewBag.taille){
        <p>L'ancienne taille est de @TempData.Peek("old_taille")</p>
    }

}
